/* =================== imported fonts =================== */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/* =================== global variables =================== */
:root {

	/* primary colours */
	--dark-Blue: hsl(233, 26%, 24%);
	--lime-Green: hsl(136, 65%, 51%);
	--bright-Cyan: hsl(192, 70%, 51%);

	/* neutral colours */
	--gray-Blue: hsl(233, 8%, 62%);
	--light-Gray-Blue: hsl(220, 16%, 96%);
	--very-Light-Grey-Blue: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);
}

/* =================== reset default styles =================== */
* {
	/* all elements */
	margin: 0;
	padding: 0;
	text-decoration: none;
}

li {
	list-style-type: none;
}

/* =================== base styles =================== */
body {
	background-color: var(--very-Light-Grey-Blue);
	font-family: 'Public Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
}

button {
	/* button colour */
	background: linear-gradient(to right, var(--lime-Green), var(--bright-Cyan));
	border: 0;
	/* no border */
	border-radius: 100px;

	/* text colour */
	color: var(--very-Light-Grey-Blue);
	font-size: 0.8em;

	/* size of  button */
	padding: 12px 30px;
}

button:hover {
	/* temporarily change the var style */
	--lime-Green: hsla(136, 65%, 51%, 0.5);
	--bright-Cyan: hsla(192, 70%, 51%, 0.5);

	/* button colour */
	background: linear-gradient(to right, var(--lime-Green), var(--bright-Cyan));

	/* text colour */
	color: var(--very-Light-Grey-Blue);
}

/* =================== base font styles =================== */
h1, h2, h3, h4, h5 {
	color: var(--dark-Blue);
	font-weight: 300;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

/* keep the h3 font size the same */

h4 {
	font-size: 1em;
}

h5 {
	color: var(--gray-Blue);
	font-size: 0.5em;
}

p {
	color: var(--gray-Blue);
	font-size: 1em;
	line-height: 2em;
	width: 39ch;
	/* aligning the text at the centre again b/c width messes it up */
	margin: 0 auto;
}

/* =================== base grid style =================== */
.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;

	/* border-sizing = sets how the total width and height of an element is calculated */
	/* border-box = tells the browser to account for any border or padding 
        in the values that specify an element's width and height */
	box-sizing: border-box;
}

.nested-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	box-sizing: border-box;
}

/* =================== media queries =================== */

/* =================== mobile phone style (MAIN) =================== */

/* ---------- navigation section ---------- */
.nav-section {
	padding: 30px 20px;
}

#nav-section-logo {
	grid-column: span 3;
	grid-row: 1;
}

#nav-section-hamburger {
	grid-column: span 1;
	grid-row: 1;

	text-align: right;
}

.nav-section.grid ul {
	/* hide the menu */
	display: none;
}

#nav-request-btn {
	/* hide the button */
	display: none;
}

/* ---------- headline section ---------- */
.headline-section.grid {
	/* create two rows */
	grid-template-rows: repeat(2, minmax(auto, auto));
}

.headline-section.grid .mobile-bg-img-group {
	grid-row: 1;
	grid-column: span 4;

	/* background image */
	background-image: url('./images/bg-intro-mobile.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;

	/* overflow = controls what happnes to content that breaks outside of its bounds */
	overflow: hidden;
}

.headline-section.grid .mobile-bg-img-group img {
	/* make the image full width */
	width: 100%;

	position: relative;
	top: -170px;
}

.headline-section.grid .headline-section-group {
	grid-row: 2;
	grid-column: span 4;

	text-align: center;

	/* all HTML elements should have 20px left-right */
	margin: 0px 20px;

	margin-bottom: 100px;
}

.headline-section.grid .headline-section-group * {
	/* each HTML element should be spaced with 20px bottom margin */
	margin-bottom: 20px;
}

/* ---------- services provided section ---------- */
.why-choose-section.grid {
	/* create two rows */
	grid-template-rows: repeat(2, minmax(auto, auto));

	
	text-align: center;
	
	background-color: var(--light-Gray-Blue);

	/* all HTML elements should have 20px left-right */
	padding: 80px 20px;
}

.why-choose-section.grid .head-why-choose-collection {
	/* make the "why choose easybank" header span all 4 columns of the 1st row */
	grid-row: 1;
	grid-column: span 4;
}

.why-choose-section.grid .head-why-choose-collection h2 {
	width: 10ch;

	/* each HTML element should be spaced with 20px bottom margin */
	margin: 0 auto 20px;
}

.why-choose-section.grid .head-why-choose-collection p {
	margin-bottom: 50px;
}

.why-choose-section.grid .service-cards-collection {
	/* make the service cards collection span all 4 columns on the 2nd row */
	grid-row: 2;
	grid-column: span 4;
}

/* inside the nested grid... */
.service-card-grid-item {
	/* make each card sit in their own row */
	grid-column: span 4;
}

.service-card-grid-item * {
	margin-bottom: 15px;
}

/* ---------- article section ---------- */
.latest-articles-section.grid {
	/* create 2 rows */
	grid-template-rows: repeat(2, minmax(auto, auto));

	/* all HTML elements should have 20px left-right */
	padding: 80px 20px;
}

.latest-articles-section.grid h2 {
	/* make the heading span all 4 columns on the 1st row */
	grid-row: 1;
	grid-column: span 4;

	margin: 0 auto;
}

.latest-articles-section.grid .article-card-collection {
	/* make the article card collection span all 4 columns on the 2nd row */
	grid-row: 2;
	grid-column: span 4;
}

.article-card-grid-item {
	/* make each card sit on their own row */
	grid-column: span 4;

	width: 350px;
	height: 450px;
	margin: 15px auto;
	border-radius: 10px;
	box-shadow: 0px 0px 5px lightgray;
}

.article-card-grid-item img {
	width: 350px;
    height: 207px;

	border-radius: 10px 10px 0 0;
}

.article-card-text-collection {
	/* margin = space around the element
		padding = space inside the element
	*/
	padding: 25px;
}
	
.article-card-text-collection * {
	margin: 10px;
}

.article-card-text-collection p {
	font-size: 0.7em;
}


/* ---------- footer and attribution section ---------- */
footer.footer-grid {
	background-color: var(--dark-Blue);
	grid-column: span 4;

	text-align: center;

	padding: 40px;
}

footer.footer-grid * {
	margin-bottom: 15px;
}

/* social media links */
.social-links-collection * {
	margin: 0 5px;
}
.footer-menu-collection a {
	color: var(--light-Gray-Blue);
	font-size: 0.8em;
}

/* copyright collection */
.footer-btn-copyright-collection {
	text-align: center;
	margin: 20px;
}

#copyright {
	font-size: 0.7em;
}

/* attribution section */
.attribution-section p {
	font-size: 11px;

	--very-Light-Grey-Blue: hsla(0, 0%, 98%, 0.2);
	color: var(--very-Light-Grey-Blue);
}

.attribution-section a {
	color: hsl(228, 45%, 44%);
}

/* =================== small tablet style - 620px and above =================== */
@media screen and (min-width: 620px) {}

/* =================== large tablet and laptop style - 960px and above =================== */
@media screen and (min-width: 960px) {}