
/* =================== imported fonts =================== */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/* =================== global variables =================== */
:root {

    /* primary colours */
    --dark-Blue: hsl(233, 26%, 24%);
    --lime-Green: hsl(136, 65%, 51%);
    --bright-Cyan: hsl(192, 70%, 51%);

    /* neutral colours */
    --gray-Blue: hsl(233, 8%, 62%);
    --light-Gray-Blue: hsl(220, 16%, 96%);
    --very-Light-Grey-Blue: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

}

/* =================== reset default styles =================== */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* =================== base styles =================== */
body {
    background-color: var(--very-Light-Grey-Blue);
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}

/* all the buttons have the same design */
button {
    
    background: linear-gradient(to right, var(--lime-Green), var(--bright-Cyan));
    border: 0px solid;
    border-radius: 100px;
    
    color: var(--very-Light-Grey-Blue);
    font-size: 0.8em;
    padding: 12px 30px;

}

button:hover {
    /* temporarily change the var style */
    --lime-Green: hsla(136, 65%, 51%, 0.5);
    --bright-Cyan: hsla(192, 70%, 51%, 0.5);

    background: linear-gradient(to right, var(--lime-Green), var(--bright-Cyan));
    color: var(--very-Light-Grey-Blue);
}

/* =================== font styles =================== */
h1, h2, h3, h4, h5 {
    font-weight: 300;
    color: var(--dark-Blue);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}

h5 {
    color: var(--gray-Blue);
    font-size: 0.5em;
}

p {
    color: var(--gray-Blue);
    font-size: 1em;
    line-height: 1.5em;
}

/* =================== mobile design: 0px and above =================== */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    /* border-sizing = sets how the total width and height of an element is calculated */
    /* border-box = tells the browser to account for any border or padding 
        in the values that specify an element's width and height */
    box-sizing: border-box;

}

/* =================== media queries =================== */

/* ---------- navigation section ---------- */
.nav-section.grid {
    /* the size of the navigation bar */
    margin: 20px;
}

#nav-section-logo {
    grid-column: span 3;
    display: block;
}

#nav-section-hamburger {
    grid-column: span 1;
    text-align: right;
}

.nav-section.grid ul {
    /* hide the navigation list on mobile */
    display: none;
}

#nav-request-btn {
    /* hide the request invoice btn on mobile */
    display: none;
}

/* ---------- background image ---------- */
#mobile-background-image {
    /* make the background image span the whole width */
    width: 100%;
}

/* ---------- welcome section ---------- */
.welcome-section {
    padding: 80px 20px;
    text-align: center;
}

.welcome-section * {
    /* everything in the welcome section have a margin of */
    margin: 15px 0;
}

/* ---------- why choose section ---------- */
.why-choose-section {
    background-color: var(--light-Gray-Blue);
    padding: 80px 20px;
}

.head-why-choose {
    text-align: center;
    margin: 0px 0px 50px 0px;
}

.head-why-choose h2 {
    margin: 0 auto 10px;
    width: 10ch;
}

.head-why-choose p {
    margin: 0 auto;
    width: 40ch;
}

/* services provided cards */
.service-cards {
    text-align: center;

    /* the size of each card in mobile */
    grid-column: span 4;

    display: block;

    margin: 10px 0px;
}

.service-cards * {
    /* all elements inside service-cards */
    margin: 10px 0px;
}

.service-cards p {
    margin: 0;
    padding: 0;
    width: 35ch;
}

/* ---------- latest articles section ---------- */
.latest-articles-section {
    padding: 80px 20px;
}

.latest-articles-section h2 {
    margin: 40px 0px;
    text-align: center;
}

/* latest article cards */
.article-card {
    grid-column: span 4;
    
    display: block;

    width: 310px;

    border-radius: 10px;

    margin: 0 auto;

    box-shadow: 0px 0px 4px lightgray;
}

.article-card img {
    width: 310px;
    height: 186px;

    border-radius: 10px 10px 0 0;
}

.article-card h5, h4, p {
    padding: 5px 20px;
}

.article-card p {
    font-size: 0.8em;
}

/* ---------- footer section ---------- */
footer {
    background-color: var(--dark-Blue);
    text-align: center;
    padding: 80px 0px 20px;
}

footer * {
    /* everything in the footer has top-bottom margin */
    margin: 20px 0px;
}

/* social media icons */
.social-links-divider img {
    display: inline-block;
    margin: 0 5px;
}

/* footer links menu */
.footer-menu a {
    color: var(--white);
    font-size: 0.8em;
}

#copyright {
    font-size: 0.5em;
}

/* ---------- attribution section ---------- */
.attribution-section {
    color: var(--very-Light-Grey-Blue);
    font-size: 0.5em;
}

.attribution-section a {
    color: var(--very-Light-Grey-Blue);
}

/* ---------- small tablet styles: 620px and above ---------- */
@media screen and (min-width: 620px) {

    /* ---------- navigation section ---------- */
    .nav-section.grid {
        margin: 20px 10px;
    }

    #nav-section-logo {
        /* spans 1 column */
        grid-column: span 1;
        display: block;
        margin: auto auto;
    }

    /* navigation text menu */
    .nav-section.grid ul {
        /* spans 2 columns */
        grid-column: span 2;
        display: block;

        /* x-axis and y-axis aligns the menu items inside the grid column */
        margin: auto auto;
    }

    .nav-section.grid li {
        display: inline-block;
    }
    
    .nav-section.grid a {
        font-size: 0.7em;
        text-align: center;
        margin: auto 10px;
    }

    /* navigation request invite btn */
    #nav-request-btn {
        /* spans 1 column */
        grid-column: span 1;
        display: block;
        margin: auto auto;
    }

    /* hide the hamburguer icon */
    #nav-section-hamburger {
        display: none;
    }

    /* ---------- why choose section ---------- */
    .service-cards {
        /* the size of each card in mobile */
        grid-column: span 2;
    }

    /* ---------- latest article section ---------- */
    .article-card {
        grid-column: span 2;
    }
}

/* ---------- large tablets and laptop styles: 960px and above ---------- */
@media screen and (min-width: 960px) {
    body {
        background-color: rgb(213, 216, 213);
    }

    /* ---------- navigation section ---------- */
    .nav-section.grid a {
        font-size: 0.8em;
    }

    /* ---------- large background image ---------- */
    #mobile-background-image {
        /* hide mobile background image */
        display: none;
    }

    /* ---------- welcome section ---------- */
    .welcome-section {
        /* add in desktop background image */
        background-image: url('./images/bg-intro-desktop.svg');
        background-position: 100px 100px;
        background-repeat: no-repeat;
        background-position: 160% 90%;
        background-size: 70%;

        padding: 147px 118px;
    }

    .welcome-section * {
        margin-right: 50%;
        text-align: left;
    }

    .welcome-section p {
        padding: 0;
    }
    /* ---------- why choose section ---------- */

    /* ---------- latest articles section ---------- */

    /* ---------- footer section ---------- */

    /* ---------- attribution section ---------- */
}